<html>
	<head>
	<link href='http://fonts.googleapis.com/css?family=Sofia|Droid+Serif|Cabin+Sketch' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/stylesheets/cookbook.css" />
		<title>Cook Nooks!</title>
		<script language="javascript" type="text/javascript">
				function autofocus(){
					document.getElementById('content').focus();
					}
		</script>
	</head>
	<body onLoad="autofocus()">
		<div id="cookbookTitle">
			{{ myCookbook.name }}
		</div>
		<div id= "cookbookAuthor">
			a cookbook by {{myCookbook.user.nickname}}
		</div>

		<div id="recipecontent">
			{% for recipe in recipes %}
			<div id="title">
				<br></br>
				{{ recipe.title }}
			</div>
			<div id="content">
				{{ recipe.content }}	
			</div>

			<div id= "delete">
				{% if is_author %}
				<a href="/delete/{{recipe.parent.key.name}}/{{recipe.key.name}}">Delete!</a>
				{% endif %}
			</div>

			{% endfor %}
		</div>

		{% if is_author %}
		<br></br>
		<form action ="" name="form1" id="form1" method ="post" accept-charset ="utf-8">
			<p id="para1">Recipe Title: <br></br> <input type="text" name="title" value= "" id="title"></p>
			<p id="para2">Instructions: <br></br> <textarea name="content" rows="6" cols="40" id="content"></textarea></p>
			<p id="para3"><input type= "submit" value="Post!"></p>
		</form>
		{% endif %}
		
		
		
		<div id="back">
			<a href="\main">Take me back to the main page!</a>
		</div>
		
		<div id="deleteBook"><a href="/delete/{{myCookbook.key.name}}">Delete this book (are you sure?)</a></p>
		
		<div id="logoutLink">
			{% if loggedIn %}
			<a href="{{ logout_url }}">Logout!</a>
			{% endif %}
		</div>
		
		<div id="error">
		{% ifequal error_state 3 %}
		Please enter a recipe name!
		{% endifequal %}
		</div>
		
		
		<div id="error">
		{% ifequal error_state 4 %}
		Recipe names can contain letters, digits and underscores only.
		{% endifequal %}
		</div>
		

		<div id= "credit">
		a Sophie Chou creation
		</div>

	</body>
</html>