<html>
  <body>
    {% for recipe in recipes %}
      {% if recipe.author %}
        <b>{{ recipe.author.nickname() }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ recipe.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Post Recipe"></div>
    </form>
      
      <form>Cookbook name: <input value="" name="cookbook_name">
      <input type="submit" value="switch"></form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>
