<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Sofia|Droid+Serif|Cabin+Sketch' rel='stylesheet' type='text/css'>

<script language="javascript" type="text/javascript">
		function formfocus() {
			document.getElementById('author').focus();
			}
</script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<title>Cook Nooks!</title>
</head>
<body class="bgimage" onLoad="formfocus()">
<h1 id="thetitle">Cook Nooks!</h1>

<div id="welcomeMessage">
	Welcome, {{user.nickname}}!
</div>	

<div id="listingTitle">
	My Cookbooks
</div>

<div id="cookbookListing">
{% ifequal cookbooks.__len__ 0 %}
	<p>You have no cookbooks yet! What are you waiting for?</p>
	
{% else %}

	{% for cookbook in cookbooks %}
		<p><a href="/{{cookbook.key.name}}">{{cookbook.name}}</a></p>
	{% endfor %}
	
{% endifequal %}
</div>

<div id="formTitle">
	Make a new cookbook!
</div>

<form action ="" method ="post" accept-charset ="utf-8">
	<p id="para1">My cookbook title: <input type="text" name="cookbookName" value="" id="cookbookName"></p>
	<p id="para2"><input type= "submit" value="Create my Cook Nook!"></p>
</form>



{% ifequal error_state 1 %}
<div id="error">Please enter a cookbook name!</div>
{% endifequal %}

{% ifequal error_state 2 %}
<div id="error">Sorry, that cookbook name is already taken.</div>
{% endifequal %}

{% ifequal error_state 4 %}
<div id="error">Cookbook names can contain letters, digits and underscores only.</div>
{% endifequal %}

<div id="credit">a <a href="http://www.mpetitchou.com/">Sophie Chou</a> creation</div>

</body>
</html>