A:link {color: blue; text-decoration: none}
A:visited {color: blue; text-decoration: none}
A:active {color: blue; text-decoration: none}
A:hover {background-color:#FF704D}

body
{
background-color:#fdedaa;
}
#cookbookTitle
{
text-align:center;
font-family: 'Cabin Sketch', cursive;
font-size: 4em;
}

#cookbookAuthor
{
text-align:center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing:1px;
}

#recipecontent
{
text-align:center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing:1px;
}

#credit
{
margin-top: 350px;
font-family: 'Cabin Sketch', cursive;
font-size: 1.1 em;
text-align:center;
}

#para1
{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
text-align:center;
letter-spacing:1px;
}
#para2 
{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
text-align:center;
letter-spacing:1px;
}
#para3 
{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
text-align:center;
letter-spacing:1px;
}

/*Style of input & output text for recipe title*/
#title
{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 25px;
text-align:center;
letter-spacing:1px;
}

/*Style of input & output text for recipe instructions*/
#content
{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
text-align:center;
white-space: pre-line; 
letter-spacing:1px;
}

#error
{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
text-align:center;
white-space: pre-line; 
letter-spacing:1px;
color:red
}

#logoutLink
{
text-align:center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing:1px;
}

#back
{
text-align:center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing:1px;
}


#deleteBook
{
text-align:center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing:1px;
}


