/*hyperlink effects*/

A:link {text-decoration: none}
A:visited {color: #000000; text-decoration: none}
A:active {color: #000000; text-decoration: none}
A:hover {background-color:#FF704D}

body
{
background-color:#fdedaa
;
}


/*.bgimage
{
	background-image: url("cooknooks_bkgd.png");
	background-repeat: no-repeat;
}
*/



#thetitle
{
font-family: 'Cabin Sketch', cursive;
font-size: 4em;
text-align:center;
}

#credit
{
margin-top: 350px;
font-family: 'Cabin Sketch', cursive;
font-size: 1.2 em;
text-align:center;
}
#para1
{
text-align:center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing:1px;
}
#para2 
{
text-align:center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing:1px;
}

#para3 
{
text-align:center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing:1px;
}

/*Style of input fields*/

#author
{
}
#cookbookName
{
}

#logo{
margin-top: 5%;
text-align: center;
}

#intro
{
float: left;
margin-top: 5%;
margin-left: 30%;
margin-right: 30%;
margin-bottom: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 1.1 em;
text-align: center;
letter-spacing:1px;
}


#error
{

font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 2em;
text-align: center;
color: red;
letter-spacing:1px;
}